* {
  color: purple;
}
.main__sidebar_desc {
  font-style: italic;
  white-space: nowrap;
  background: green;
  padding: 10px;
  margin: 25px;
}
 p[title] {
  font-weight: 900;
  border-bottom: 5px solid;
  border-bottom-color: #f0ce8e;
  text-shadow: 1px 1px 2px black
}
 .main__sidebar > p {
   margin-left: 20px;
   text-align: end;
}
 h3, h2 {
    border-left-color: #408080;
    align-content: flex-start;
    user-select: none;
}

footer {
  writing-mode: vertical-lr;
  user-select: none;
}
